* {
    margin: 0;
    padding: 0;
}

:root {
    /* GENERAL RULES */
    --primary-color: #303030;
    --secondary-color: #f0f0f0;
    --uppercase: uppercase;
    --center: center;
    
    /* H1 */
    --h1-margin-top: 20px;
    --h1-padding: 20px 20px 0 20px;
    --h1-font-size: 16px;

    /* IMG */
    --img-width: 100%;
    --img-border-radius: 50%;
}

body {
    background: var(--primary-color);
}

.container {
    max-width: 1024px;
    margin: 20px auto;
    text-align: var(--center);
}